headersOrigin = "config"
redirectsOrigin = "config"
plugins = []

[dev]
command = "npm run dev"
port = 5173.0
targetPort = 5173.0
publish = "dist"
autoLaunch = false

[functions]

[functions."*"]

[build]
publish = "/Users/briandusape/Projects/LUNTRA/LUNTRA MVPS/propiq/frontend/dist"
publishOrigin = "config"
commandOrigin = "config"
base = "/Users/briandusape/Projects/LUNTRA/LUNTRA MVPS/propiq/frontend"
command = "npm run build"

[build.environment]
NODE_VERSION = "20"
SECRETS_SCAN_SMART_DETECTION_ENABLED = "false"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[headers]]
for = "/*"

[headers.values]
X-Frame-Options = "DENY"
X-Content-Type-Options = "nosniff"
X-XSS-Protection = "1; mode=block"
Referrer-Policy = "strict-origin-when-cross-origin"
Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
for = "/assets/*"

[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*.woff2"

[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[redirects]]
from = "https://propiq.luntra.one/*"
to = "https://dealiq.luntra.one/:splat"
status = 301.0
force = true

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]